header {
  width: 100%;
  .nav-bar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    .nav-bar-link {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      border-left: 1px solid #EFF2F5;
      padding: 22px 20px 19px 20px;
      font-size: 12px;
      line-height: 19px;
      vertical-align: top;
      letter-spacing: 0.5px;
      border-radius: 0px;
      color: #45494E;
      position: relative;
      cursor: pointer;

      .nav-bar-drop-down {
        display: none;
        position: absolute;
        width: 250px;
        height: 350px;
        z-index: 3;
        border-left: 1px solid #EFF2F5;
        border-right: 1px solid #EFF2F5;
        border-bottom: 1px solid #EFF2F5;
        right: -1px;
        top: 60px;
        white-space: nowrap;
        overflow: hidden;
        background: #fff;
        cursor: pointer;

        .nav-bar-drop-down-list-item {
          border-top: 1px solid #EFF2F5;
          width: 100%;
          position: relative;
          text-align: left;
          box-sizing: border-box;
          cursor: pointer;
          height: 14.2857142857%;
          padding-top: 15px;
          padding-left: 15px;
          text-decoration: none;

          .logout-button {
            text-align: left;
            text-decoration: none;
            color: #45494E;
            font-size: 12px;
            font-weight: 400px;
            line-height: 19px;
            letter-spacing: 0.5px;
            width: 100%;
            cursor: pointer;
            background-color: transparent;
            text-transform: uppercase;

            &:hover {
              background-color: #EFF2F5;
            }

          }
          &:hover {
            background-color: #EFF2F5;
          }
        }
      }


      &:hover {
        background-color: #EFF2F5;

        .nav-bar-drop-down {
          display: block;
        }

      }

      &:last-child {
        color: #3177B3;
        font-weight: 600;
        &:hover {
          background-color: white;
          color: #45494E;
        }
      }
    }

  }
}

.link {
  text-align: left;
  text-decoration: none;
  color: #45494E;
  font-size: 12px;
  font-weight: 400px;
  line-height: 19px;
  letter-spacing: 0.5px;
  width: 100%;
}

#nav-bar {
  margin-right: 0;
}
