.create-event-top {
  padding: 32px 24px;
  width: 100%;
  display: block;

  .event-top {
    color: #363a43;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;

  }
}

.create-event-edit-design {
  background: #45494e;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 16px 0;
  box-sizing: border-box;
}

.create-event-form {
  background: #F8F8FA;
}
.create-event-form-content-wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background: #F8F8FA;
}

.create-event-form-content {
  margin-left: 8.333333333333%;
  padding-left: 15px;
}

.form-header-info-wrapper {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #45494e;

  .form-header-info {
    display: row;

    .detail-block {
      display: table-cell;
      text-align: center;
      width: 50px;
      font-size: 35px;
      line-height: 45px;
      padding-bottom: 5px;
      background-color: #0093D7;
      color: #fff;
    }

    .form-headers {
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      font-size: 25px;
      font-weight: 400;
      line-height: 35px;
    }
  }
}

.event-detail-content {
  margin-top: 10px;

}

.event-title-input {
  margin-top: 5px;
  width: 100%;

  .event-title-input-val {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #45494E;
    background: #fff;
    border: 1px solid #D2D6DF;
    padding: 9px 12px;
    width: 66.666666666666666%;
    border-radius: 3px;
  }
}

.event-info-label-wrapper {
  position: relative;
  width: 100%;
  margin-top: 15px;

  .event-info-label {
    line-height: 22px;
    vertical-align: middle;
    font-size: 16px;
    color: #282C35;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

.event-location-input {
  margin-top: 5px;
  width: 50%;

  .address-cell {
    margin-top: 5px;
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #45494E;
    background: #fff;
    border: 1px solid #D2D6DF;
    padding: 9px 12px;
    width: 80%;
    border-radius: 3px;

    &:first-child {
      margin-top: 10px;
    }
  }
}

.event-state-zip-country {
  margin-top: 5px;

  .state-zip-input {
    display: inline-block;
    width: 40%;

    .zip-cell {
      display: inline-block;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #45494E;
      background: #fff;
      border: 1px solid #D2D6DF;
      padding: 9px 12px;
      width: 85%;
      border-radius: 3px;

    }

    &:first-child {
      margin-right: 30px;
    }


  }

  .country-select-wrapper {
    margin-top: 5px;
    display: inline-block;
    width: 85%;
    border-radius: 3px;

    .country-select {
      height: 42px;
      width: 100%;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #45494E;
      background: #fff;
      color: #45494E;
      background: #fff;

      &:hover {
        cursor: pointer;
      }
      
    }
  }
}

.event-date-wrapper {
  width: 100%;
  margin-top: 5px;

  .event-date-input-wrapper {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    width: auto;

    .date-time-inputs {
      display: flex;
      margin-top: 5px;

      .date-input {
        width: 130px;
        margin-right: 10px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #45494E;
        border: 1px solid #D2D6DF;
        padding: 9px 12px;
        border-radius: 3px;
        box-sizing: border-box;

      }

      .time-input {
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #45494E;
        border: 1px solid #D2D6DF;
        padding: 9px 12px;
        border-radius: 3px;
        box-sizing: border-box;
      }

    }
  }

}


.event-description-wrapper {
  margin-top: 15px;

  .event-description {
    margin-top: 5px;
    padding: 0 0 0 0 ;

    .event-description-input {
      height: 180px;
      width: 66.66666666666666666%;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: #45494E;
      border: 1px solid #D2D6DF;
      padding: 9px 12px;
      border-radius: 3px;
      box-sizing: border-box;
      resize: none;
    }
  }
}

.event-organizer {
  margin-top: 15px;

}

.org-desc-input {
  margin-top: 5px;
  margin-bottom: 30px;
  height: 90px;
  width: 66.66666666666666%;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #45494E;
  border: 1px solid #D2D6DF;
  padding: 9px 12px;
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}

.border-creator {
  border-bottom: 1px solid #D2D6DF;
}

.form-footer {
  background: #fff;
  border-bottom: 5px solid #D2D6DF;
  padding: 60px 10px;

  .form-footer-text-wrapper {
    margin: 10px 0;
    text-align: center;

    .form-footer-text {
      font-size: 35px;
      line-height: 50px;
      color: #282C35;
      font-weight: 600;

    }
  }
}

.create-form-submit-wrapper {
  text-align: center;

  .create-form-submit {
    padding: 11px 20px;
    border: 0;
    line-height: 22px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #00ab44;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #00451b;
    }
  }
}

.address-cell:last-of-type {
  margin-bottom: 30px;
}

.event-image-input-wrapper {
  padding-top: 5px;
  
}

.country-select-wrapper:last-of-type {
  margin-bottom: 50px;
}