.create-event-top {
  padding: 32px 24px;
  width: 100%;
  display: block;

  .event-top {
    color: #363a43;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3;

  }
}

.create-event-edit-design {
  background: #45494e;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 16px 0;
  box-sizing: border-box;
}

.create-event-form {
  background: #F8F8FA;
}
.create-event-form-content-wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background: #F8F8FA;
}

.create-event-form-content {
  margin-left: 8.333333333333%;
  padding-left: 15px;
}

.form-header-info-wrapper {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #45494e;

  .form-header-info {
    display: row;

    .detail-block {
      display: table-cell;
      text-align: center;
      width: 50px;
      font-size: 35px;
      line-height: 45px;
      padding-bottom: 5px;
      background-color: #0093D7;
      color: #fff;
    }

    .form-headers {
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      font-size: 25px;
      font-weight: 400;
      line-height: 35px;
    }
  }
}

.event-detail-content {
  margin-top: 10px;


  .event-title-input {
    margin-top: 5px;
    width: 100%;

    .event-title-input-val {
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #45494E;
      background: #fff;
      border: 1px solid #D2D6DF;
      padding: 9px 12px;
      width: 66.666666666666666%;
      border-radius: 3px;
    }
  }

}

.event-info-label-wrapper {
  position: relative;
  width: 100%;
  margin-top: 15px;

  .event-info-label {
    line-height: 22px;
    vertical-align: middle;
    font-size: 16px;
    color: #282C35;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

.event-location-input {
  margin-top: 5px;
  width: 50%;

  .address-cell {
    margin-top: 5px;
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #45494E;
    background: #fff;
    border: 1px solid #D2D6DF;
    padding: 9px 12px;
    width: 80%;
    border-radius: 3px;

    &:first-child {
      margin-top: 10px;
    }
  }
}

.event-state-zip-country {
  margin-top: 5px;

  .state-zip-input {
    display: inline-block;
    width: 40%;

    .zip-cell {
      display: inline-block;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #45494E;
      background: #fff;
      border: 1px solid #D2D6DF;
      padding: 9px 12px;
      width: 85%;
      border-radius: 3px;

    }

    &:first-child {
      margin-right: 30px;
    }


  }

  .country-select-wrapper {
    margin-top: 5px;
    display: inline-block;
    width: 85%;
    border-radius: 3px;

    .country-select {
      height: 42px;
      width: 100%;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      color: #45494E;
      background: #fff;
      color: #45494E;
      background: #fff;
    }
  }
}

.event-date-wrapper {
  width: 100%;
  margin-top: 5px;

  .event-date-input-wrapper {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    width: auto;

    .date-time-wrapper {
      justify-content: space-between;

      .date-time-inputs {
        display: flex;

      }
    }
  }

}
