.main-content {
  background: #F8F8FA;
}

.event-index-item {
  width: 33.3333333333%;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  overflow: visible;



  .index-item-content-wrapper {
    background: #fff;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    }

    .event-image-wrapper {
      height: 165px;
      background: #fff;
      position: relative;

      .event-image {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        text-align: center;
        overflow: hidden;

        .default-image {
          top: 50%;
          position: relative;
          max-width: 100%;
          max-height: 100%;
          transform: translateY(-50%);
          width: 100%;
        }

      }
    }

    .event-info {
      padding: 5px 15px;
      border-top: 1px solid #EFF2F5;
      height: 108px;
      line-height: 22px;
      font-size: 15px;
      font-weight: 400;

      .event-time {
        padding: 5px 0 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 18px;
        font-size: 14px;
        color: #45494E;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .event-title {
        padding-top: 5px;
        font-weight: 600;
        color: #282C35;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        height: 2.5em;
        max-height: 2.5em;
      }

      .event-location {
        padding-top: 5px;
      }
    }

    .event-footer {
      position: relative;
      min-height: 2.8em;
      max-height: 3em;
      line-height: 40px;
      padding-right: 80px;
      border-top: 1px solid #EFF2F5;
      padding-left: 15px;

      .event-footer-actions {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        line-height: 38px;
        margin: 0;
        padding: 0;

        .event-footer-button {
          display: inline-block;
          color: #666A73;
          font-size: 20px;
          width: 40px;
          height: 40px;
          border-left: 1px solid #EFF2F5;
          box-sizing: border-box;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
