.splash-overflow-search {
  overflow: visible;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;

  .splash-search {
    display: block;
    text-align: center;
    padding: 25px 0;
    border-radius: 4px;
    position: relative;
    margin-top: -140px;
    background: linear-gradient( rgba(255, 255, 255, 0.9) 0%, white 25%);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);

    .splash-search-title {
      line-height: 60px;
      margin-top: 10px;
      color: #F86820;
      font-weight: 300;
      font-size: 45px;
      letter-spacing: 0.5px;
    }

    .splash-search-bar {
      padding: 10px 0 15px;
      height: 64px;
    }
  }
}
