<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" url="../../assets/images/event_site_icon.png">
    <title>EventSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
